Point de depart

<div class="form-group">
    <label for="startingCity">Où voulez vous faire parvenir votre marchandise ?</label>
    <input type="text" class="form-control" id="startingCity" placeholder="Ville Depart">
</div>

Point d'arrivée
<div class="form-group">
    <label for="arrivalCity">Récupération au dépôt des produits</label>
    <input type="text" class="form-control" id="arrivalCity" placeholder="Ville Arrivee">
</div>
<button class="btn btn-default" id="theDistance">Voir la distance</button>
<div id="Resultat"></div>
