<div id="accueil">
    <div class="container-fluid accueil">
        <div class="row">
            <div class="col l6 col s12">
                <div id="acheteur">
                    <a href="#">
                        <h1>Acheteur</h1>
                    </a>
                </div>
            </div>
            <div class="col l6 col s12">
                <a href="#/" id="formulaire">
                    <div id="vendeur">
                        <h1>Agriculteur</h1>
                        <div id="test" class="col s10 offset-s1" style="display:none">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="code_postal" placeholder="ex: La Loupe" type="text" class="validate">
                                    <label class="active" for="code_postal">Votre ville</label>
                                </div>
                            </div>
                            <div class="input-field col s6">
                                <select class="browser-default lime">
                                    <option value="" disabled selected>Je vends</option>
                                    <option value="1">Blé</option>
                                    <option value="2">Colza</option>
                                    <option value="3">Orge</option>
                                </select>
                            </div>
                            <button class="btn waves-effect waves-light lime" type="submit" name="action">Rechercher acheteurs
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
