<br>
<div class="row">
    <div class="col s6 offset-s3 background">
        <form class="col s12">
            <div class="row">
                <div class="col s7">
                    <label for="name">Nom complet</label>
                    <input placeholder="Nom complet" id="name" type="text">

                </div>
            </div>
            <div class="row">
                <div class="col s7">
                    <label for="product">Produit</label>
                    <input placeholder="Blé, colza, maïs..." id="product" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col s7">
                    <label for="totalprice">Prix</label>
                    <input placeholder="Prix de l'achat total (transport compris)" id="totalprice" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <label>Qualité :</label>
                </div>
                <div class="col s5">
                    <label for="specificWeight">Poids spécifique</label>
                    <input placeholder="Poids spécific en kg/hl" id="specificWeight" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col s2"></div>
                <div class="col s5">
                    <label for="humidity">Humidité</label>
                    <input placeholder="en %" id="humidity" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col s2"></div>
                <div class="col s5">
                    <label for="hagberg">Hagberg</label>
                    <input placeholder="en secondes" id="hagberg" type="text">
                </div>
            </div>
        </form>
    </div>
</div>
