<div class="container-fluid background">
    <div class="row">

        <section class="col s12" ng-repeat='element in vm.elements'>
            <p><span>Acheteur:</span> {{element.banane}} <br/>
              <span>Produit:</span> {{element.produit}} <br/>
              <span>Ville:</span> {{element.ville}} <br/>
              <span>Prix:</span><div id="bourne"</div><br/>
            </p>
        </section>
    </div>
</div>
<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Biagri</title>
    </head>
    <body>
        <header>
            <div id="head">
                <h2>Agriculteur</h2>
            </div>
        </header>
-->
